<form *ngIf="item" (ngSubmit)="onSubmit()" #frm="ngForm" class="{{propType}}">
  <div class="modal-header">
    <h2 class="vcenter">{{ item.name}}</h2>
    <span class="close-button pointer" (click)="onCloseModal()"><span>&times;</span></span>
  </div>
  <div class="modal-body">
    <div class="inner-container">
      <div class="row" *ngIf="item.description">
        <div class="col-sm-12 description">
          {{ item.description}}
        </div>
      </div>
      <div  *ngFor="let os of item.options; let i = index" class="row optionset-container" >
        <div class="col-sm-12 optionset-title">
          {{ os.desc || os.name }} 
          <span *ngIf="!os.multi" class="required-text">*</span>
        </div>
        <div *ngIf="os.multi" class="row">
          <div class="col-sm-12 option-container" *ngFor="let o of os.options; let j = index" >
            <span class="pull-left">
            <input type="checkbox" name="options-{{i}}-{{j}}" [(ngModel)]="item.options[i].options[j].selected" value=true> {{o.n}}
          </span>
            <span *ngIf="o.p" class="pull-right price">{{o.p | currency}}</span>
          </div>
        </div>
        <div *ngIf="!os.multi" class="row">
          <div *ngIf="frm.controls['options-'+i] && frm.controls['options-'+i].invalid && frm.submitted" class="error invalid">
            You must make a selection
          </div>
          <div class="col-sm-12 option-container" *ngFor="let o of os.options; let j = index" >
            <input type="radio" name="options-{{i}}" [(ngModel)]="item.options[i].selected" value={{j}} required> {{o.n}}
            <span *ngIf="o.p" class="pull-right price">{{o.p | currency}}</span>
          </div>
        </div>
      </div>
      <div class="row optionset-container">
        <div class="col-sm-12 optionset-title">
          Special Instructions
        </div>
        <div class="row">
          <div class="col-sm-12 option-container">
            <textarea class="instructions" name="instruction" placeholder="No pickles" [(ngModel)]="item.instruction"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-6 quantity-container">
        <quantity-input 
          [(ngModel)]="item.quantity" 
          name="quantity" 
          [rangeMin]=1 
          [rangeMax]=50 
          label="Quantity:"
        >
        </quantity-input>
      </div>
      <div class="col-sm-6 cart-button-container">
        <span>{{item.subtotal * item.quantity | currency}}</span>
        <div class="btn-group" *ngIf="propType != 'editCart'">
          <button class="btn btn-primary btn-lg rounded" type="submit">Add to Cart</button>
        </div>
        <div class="btn-group" *ngIf="propType =='editCart'">
          <button class="btn btn-primary btn-lg rounded" type="submit">Modify Item</button>
        </div>
      </div>
    </div>
  </div>
</form>
