.modal-header {
  min-height: 70px;
  padding: 10px;
  position: relative;
  h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    margin: auto;
    width: 90%;
  }
  background: #f5f5f5;
}
.close-button {
  position: absolute;
  display: inline-block;
  font-size: 2.5em;
  width: 48px;
  height: 48px;
  text-align: center;
  margin-right: -16px;
  top: -16px;
  background: #fff;
  padding-top: 0px;
  right: 0;
  border: 2px solid #666;
  border-radius: 50%;
  span {
    display: inline-block;
    top: -10px;
    height: 20px;
    position: relative;
  }
}
.modal-body {
  max-height: 500px;
  min-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  .inner-container {
    position: relative;
  }
}
.modal-footer {
  background: #eee;
  border-top-left-radius: 0 0 0.3rem 0.3rem;
}

.description {
  padding: 20px 15px 5px 15px;
}

.optionset-container {
  .pull-left {
    width: calc(100% - 80px);
  }
  .pull-right {
    width: 80px;
    text-align: right;
  }
}
.option-container {
  padding: 5px 15px;
}

.optionset-title {
  padding: 15px;
  color: #fff;
  background: #999;
  margin: 10px 0px 5px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.instructions {
  width: 90%;
  height: 100px;
  border: 1px solid #ddd;
}
.row {
  width: 100%;
  margin: 0;
}
.invalid {
  margin-left: 1em;
  font-size: 0.9em;
  font-style: italic;
}

.quantity-container {
  position: relative;
  top: -2px;
  font-size: 16px;
  quantity-input {
    float: right;
  }
  quantity-input-container {
    width: 200px;
    .label {
      width: 72px;
    }
  }
}
.cart-button-container {
  text-align: right;
  padding: 0;
  span {
    font-size: 1.1em;
    color: #990000;
    font-weight: 600;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 575px) {
  .modal-header {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 5px 10px;
    height: 70px;
    h2 {
      font-size: 1em;
    }
  }
  .modal-body {
    height: calc(100vh - 198px - 2vw);
  }
  .close-button {
    background: transparent;
    border: none;
    top: -7px;
    right: 8px;
    color: #666;
    font-weight: 200;
    span {
    }
  }
}
