div {
  display: block;
}
.left {
  display: block;
  width: calc(100% - 160px);
  .description {
    font-size: 0.8em;
  }
  .name {
    font-weight: 600;
  }
}
.right {
  text-align: right;
  font-size: 0.9em;
  font-weight: 600;
  position: absolute;
  top: 10px;
}
.price.right {
  width: 60px;
  right: 0;
}
.quantity.right {
  width: 110px;
  font-size: 10px;
  right: 70px;
}

.options {
  font-size: 0.8em;
  opacity: 0.8;
}

@media only screen and (max-width: 500px) {
  .cart-container {
    width: 100%;
  }
  .item {
    padding-bottom: 0.5em;
  }
  app-cart-item {
    min-width: initial;
  }
  .left {
    width: 100%;
  }
  .right {
    position: relative;
    text-align: left;
    right: 0;
  }
  .price.right {
    left: 0.3em;
  }
  .quantity.right {
    right: 0;
  }
}
