<div class="item">
  <div class="left" *ngIf="item.item">
  	<div class="name">{{item.item.name}}</div>
  	<div class="options">
      <span *ngFor="let optionset of item.item.options">
        <span *ngIf="optionset.selected && !optionset.multi">
          {{(optionset.options[optionset.selected]).n}}
          <span *ngIf="(optionset.options[optionset.selected]).p">
            ({{(optionset.options[optionset.selected]).p | currency}})
          </span>
        </span>
        <span *ngIf="optionset.multi">
          <span *ngFor="let option of optionset.options">
            <span *ngIf="option.selected">
              {{option.n}}
              <span *ngIf="option.p">({{option.p | currency}})</span>
            </span>
          </span>
        </span>
      </span>
      <div *ngIf="item.item.instruction != ''">{{item.item.instruction}}</div>
    </div>
  </div>
  <div class="quantity right">
      <quantity-input (ngModelChange)="QuantityChanged($event)" [(ngModel)]="item.quantity" [rangeMin]=1 [rangeMax]=50 ></quantity-input>
  </div>
  <div class="price right">
    <div>{{item.subtotal * item.quantity  | currency}}</div>
    <div>
      <i class="fa fa-edit pointer" (click)="EditItem.emit({index:cartIndex,item:item})" ></i>
      <i class="fa fa-trash-o pointer" (click)="DeleteItem.emit(cartIndex)"></i>
    </div>
  </div>
  
</div>