.quantity-input-container {
  min-width: 8.5em;

  .label {
    display: inline-block;
    position: relative;
    top: -0.125em;
  }
  .quantity-input {
    display: inline-block;
  }
  .fa {
    font-size: 2.5em;
    position: relative;
    top: 0.15em;
    color: #666;
    cursor: pointer;
  }
  input {
    font-size: 1.5em;
    width: 2.2em;
    text-align: center;
  }
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}
