<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">{{(restaurant$ | async).name}}</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLinkActive="active" routerLink="/home" class="nav-link"><i class="fa fa-cutlery"></i></a>
    </li>
    <li class="nav-item responsive phone over">
      <a routerLinkActive="active" routerLink="/info" class="nav-link"><i class="fa fa-info"></i></a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="active" routerLink="/cart" class="nav-link"><i class="fa fa-shopping-cart"></i></a>
      <span routerLink="/cart"
        class="cart-count animated bounceInDown" *ngIf="(cartCount$ | async)" >
        {{cartCount$ | async}}
    </span>
    </li>
  </ul>
</nav>
