@import '../../../scss/placeholders';

.navbar {
  padding: 0 12px;
  ul {
    text-align: right;
    right: 0px;
    height: 100%;
    position: absolute;
    li {
      position: relative;
      width: 60px;
      min-height: 60px;
      border-left: 1px solid #ddd;
      a {
        height: 100%;
        width: 100%;
        i {
          font-size: 32px;
          opacity: 0.7;
          @extend %vcenter;
        }
        .fa-cutlery {
          font-size: 26px;
        }
      }
    }
  }
  .cart-count {
    position: absolute;
    display: inline-block;
    background: red;
    border-radius: 50%;
    color: white;
    padding: 2px;
    font-size: 12px;
    width: 20px;
    height: 20px;
    right: 12px;
    top: 10px;
    outline: none;
    cursor: pointer;
    text-align: center;
  }
}
