<div class="cart-container">
  <h2>My Cart</h2>
  <div>
    <div>
      <div>
        <app-cart-item  
          *ngFor="let itemEl of (cart$ | async).items; let i = index" 
          [item]="itemEl" 
          [cartIndex]="i"
          (onEditItem)=editItem($event)
          (onDeleteItem)="currentIndex = $event; confirmDialog.showModal()"
          (onQuantityChange)=changeQuantity($event)
        >
        </app-cart-item>
      </div>
    </div>
  </div>
</div>

<app-details [modalState]="showModal$ | async" propType="editCart"></app-details>

<confirm-dialog
  #confirmDialog
  yesText="Delete"
  noText="Cancel"
  message="Are you sure you want to delete this item?"
  (confirm)="confirmDelete()"
>
</confirm-dialog>