.cart-container {
  padding: 1em;
  width: calc(100% - 300px);
}
app-cart-item {
  min-height: 56px;
  padding: 0.5em 0;
  position: relative;
  display: block;
  overflow: hidden;
  min-width: 400px;
  border-bottom: 1px solid #eee;
}

@media only screen and (max-width: 800px) {
  .cart-container {
    width: 100%;
  }
  app-cart-item {
    min-width: initial;
  }
}
