<div class="item">
  <div class="left">
  	<div class="name">{{item.name}}</div>
  	<div class="description">{{item.description}}</div>
  </div>
  <div class="pull-right right">
  	{{item.price | currency}}
  </div>
</div>
