div {
  display: block;
}
.left {
  display: inline-block;
  width: calc(100% - 60px);
  .description {
    font-size: 0.8em;
  }
  .name {
    font-weight: 600;
  }
}
.right {
  width: 60px;
  text-align: right;
  font-size: 0.9em;
  font-weight: 600;
}
