/* You can add global styles to this file, and also import other style files */

@import './scss/main';

body {
  overflow: hidden;
}

#main-wrapper {
  width: 100%;
  margin: auto;
  background: #fff;
  min-width: $bodyMinWidth;
  @extend %fullscreen;
}

app-header .navbar {
  height: $headerHeight;
  padding: 0;
  overflow: hidden;
}

app-home {
  @extend %fullscreen;
}

#main-container {
  width: 100%;
  height: $bodyHeight;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

@media only screen and (min-width: 992px) {
  #main-wrapper {
    width: 960px;
    top: $bodyMargin;
    bottom: $bodyMargin;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.category-container {
  margin: 20px;
}
.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 0px;
  .app-item {
    cursor: pointer;
    min-height: 56px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    margin-top: -1px;
    width: 380px;
    background-color: #fff;
    -webkit-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
    .item {
      text-align: left;
      padding: 10px 0;
    }
  }
}

app-cart {
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .category-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .items {
    .app-item {
      .item {
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .category-container {
    margin: 30px;
  }
  .items {
    height: auto !important;
    .app-item {
      width: calc(100% - 20px);
      padding: 10px;
      border-top: 1px solid #dbdbdb;
      .item {
        overflow: hidden;
        padding: 0;
        vertical-align: top;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .category-container {
    margin: 25px 0;
  }
  .quantity-container {
    padding: 0;
    .quantity-input-container {
      text-align: right;
    }
  }
  .modal-dialog {
    margin: 1vw;
  }
  .modal-open .modal {
    overflow-y: hidden;
  }
  .responsive.phone.over {
    display: none;
  }
}
