/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.pointer {
  cursor: pointer;
}

.btn.rounded {
  border-radius: 999px;
}
.vcenter {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: left;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
div.modal-content {
  border-radius: $modalBorderRadius;
}
.modal-header {
  border-radius: $modalBorderRadius $modalBorderRadius 0 0;
}
.modal-footer {
  border-radius: 0 0 $modalBorderRadius $modalBorderRadius;
}
.error {
  color: red;
}
