/* You can add global styles to this file, and also import other style files */

%fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

%vcenter {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: left;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
