<div style="text-align:center">
  <div>
    <div>
      <app-category *ngFor="let categoryEl of (menu$ | async); let i = index" [category]="categoryEl" [categoryIndex]="i" ng-if="category.items.length > 0">
      </app-category>
    </div>
  </div>
</div>

<app-details [modalState]="showModal$ | async" propType="addToCart"></app-details>
