<div class="category-container" [hidden]="!category.items || !category.items.length">
  <h3>{{category.name}}</h3>
  <div class="items" #itemsEl>
    <div *ngFor="let itemEl of items; let i = index" #appitemEl class="app-item" (click)="itemClicked(categoryIndex, i, itemEl)">
      <app-item [item]="itemEl">
      </app-item>
    </div>
  </div>
</div>
