<ng-template #confirmModal>
    <div class="modal-body text-center">
      <p>{{message}}</p>
      <button type="button" class="btn btn-danger" (click)="onConfirm()" >{{yesText}}</button>
      <button type="button" class="btn btn-default" (click)="onDecline()" >{{noText}}</button>
    </div>
</ng-template>